<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/281/alarm-clock_23f0.png">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <title>
        {% block title %}
            
        {% endblock title %}
        - Tasker
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="padding: 1rem;">Tasker</a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                
            </div>
        </div>
    </nav>

    {% block todoBody %}
    
    {% endblock todoBody %}

    <!-- Footer -->
<footer class="bg-light text-center text-lg-start">  
    <!-- Copyright -->
    <div class="text-center p-3 py-5" style="background-color: rgba(0, 0, 0, 0.055);">
      Made with 💙 by
      <a class="text-dark" href="https://github.com/ashishsahu1">Ashish Sahu</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
      
</body>

</html>
